# ワークフローの名前
name: Release GitHub Page

# 起動のタイミング
# 今回はmasterブランチへのpush
on:
  push:
    branches:
      - main

# ジョブの定義
jobs:
  build:
    # 実行するインスタンス
    runs-on: ubuntu-latest

    # nodeのバージョン一覧
    strategy:
      matrix:
        node-version: ["17.x"]

    # 各ステップの実行
    steps:
      # チェックアウト
      - uses: actions/checkout@v1

      # 使用するnodeのバージョンを指定
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      # パッケージのインストールとアプリのビルド
      - name: install and build
        run: |
          npm ci
          npm run build
        env:
          CI: true

      # gh-pagesを使って公開
      - name: deploy
        uses: peaceiris/actions-gh-pages@v2
        env:
          ACTIONS_DEPLOY_KEY: ${{ secrets.GH_PAGES }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./build
          REACT_APP_RESAS_API_KEY: ${{ secrets.REACT_APP_RESAS_API_KEY }}
          REACT_APP_END_POINT_PREFECTURE: ${{ secrets.REACT_APP_END_POINT_PREFECTURE }}
          REACT_APP_END_POINT_POPULATION: ${{ secrets.REACT_APP_END_POINT_POPULATION }}
          REACT_APP_END_POINT_POPULATION_PARAMETER1: ${{ secrets.REACT_APP_END_POINT_POPULATION_PARAMETER1 }}
          REACT_APP_END_POINT_POPULATION_PARAMETER1_VALUE: ${{ secrets.REACT_APP_END_POINT_POPULATION_PARAMETER1_VALUE }}
          REACT_APP_END_POINT_POPULATION_PARAMETER2: ${{ secrets.REACT_APP_END_POINT_POPULATION_PARAMETER2 }}
          REACT_APP_END_POINT_POPULATION_PARAMETER2_VALUE: ${{ secrets.REACT_APP_END_POINT_POPULATION_PARAMETER2_VALUE }}
          REACT_APP_PAGE_TITLE: ${{ secrets.REACT_APP_PAGE_TITLE }}
          REACT_APP_CHECKBOX_TITLE: ${{ secrets.REACT_APP_CHECKBOX_TITLE }}
          REACT_APP_PLOT_TITLE: ${{ secrets.REACT_APP_PLOT_TITLE }}
          REACT_APP_PLOT_LABEL_X: ${{ secrets.REACT_APP_PLOT_LABEL_X }}
          REACT_APP_PLOT_LABEL_Y: ${{ secrets.REACT_APP_PLOT_LABEL_Y }}
